.Blog-skincare {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.Blog-skincare::-ms-expand {
    display: none;
}

.Blog-skincare {
    max-width: 250px;
    position: relative;
}

.Blog-skincare {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
    font-size: 1em;
    color: #000000;
    font-family:
        "Ubuntu Sans Mono", monospace;
    border: 2px solid #000000;
    position: relative;
    transition: all 0.25s ease;
}

.Blog-skincare:hover {
    background: #ffffff;
}