#banner {
    background-color: black;
}

.logo-imagem {
    height: 70px;
    width: 120px;
    margin-left: 30px;
}

.personal-menu-dropdown {
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
}

#p_p_id_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_ {
    .sticker-overlay {
        background-image: url(../images/shiseido_camellia-logo-brandlogos.net_.png);
        background-size: cover;
    }

    .lexicon-icon .lexicon-icon-user {
        display: none;
    }
}

.badge-danger {
    background-color: #ff0000;
    color: #fff;
    float: right;
    position: relative;
    bottom: 40px;
    border-radius: 20px;
    border: white 1px solid;
}

.lexicon-icon-user {
    color: black;
}


.sort-pages ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.sort-pages li {
    margin: 10px;
    background-color: black;
}

.sort-pages {
    a {
        text-decoration: none;
        color: white;
        border-bottom: 3px solid black;
        transition: border-color 0.2s ease;
        padding-bottom: 6px;
    }

    a:hover {
        border-bottom: 5px solid white;
    }
}

.dropdown-menu.show {
    display: block;
    width: 200px;
    font-size: 12px;
}

.taglib-icon-label {
    text-align: right;
    display: flex;
    justify-content: right;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .sort-pages ul {
        display: block;
        padding: 10px;
    }

    .sort-pages {
        a {
            justify-content: center;
            display: flex;
        }
    }
}